* {
    margin: 0;
    padding: 0;
}

body {
    height: 200vh;
}

.bg {
    background-image: url('bg.jpg');
    background-size: cover;
    height: 600px;
}

li {
    display: inline;
    padding: 30px;
    font-size: 1.2rem;
    font-weight: bold;
}

.navbar {
    color: black;
    position: fixed;
    padding: 30px;
    width: 100%;
}

.BgColor {
    color: red;
    transition: all 1s;
    background-color: blanchedalmond;
    border-bottom: 1px solid lawngreen;
}